.toast {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border-radius: 5px;
  width: 250px;
  opacity: 0;
  z-index: 9999;
  margin: 0 auto;
  transition: 1s;
}

.toast.show {
  opacity: 0.8;
}

.toast:hover{
  opacity: 0;
}

.toast-body {
  padding: 6px 10px;
}

